body {
    font-family: Arial;
    background-color: #f4f4f4;
}

.container {
    width: 350px;
    margin: 50px auto;
    background: white;
    padding: 20px;
    border-radius: 5px;
}

.form-group {
    margin-bottom: 15px;
}

input {
    width: 100%;
    padding: 8px;
}

.error {
    color: red;
    font-size: 12px;
    visibility: hidden;
}

.error-input {
    border: 2px solid red;
}

.success-input {
    border: 2px solid green;
}

button {
    padding: 8px 15px;
}
